body {
    background-color: rgb(224, 165, 109)
}

.piece {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    background-color: antiquewhite;
}